body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #444;
	overflow: hidden

}
button {
	background-color: #F26522;
	border: none;
	padding: 16px 28px;
	font-size: 17px;
	color: #fff;
	border-radius: 5px;
	text-transform: capitalize;
	line-height: 17px;
	position: relative;
	white-space: nowrap;
	font-weight: 600;
	backface-visibility: hidden;
	will-change: transform;
	transition: .3s ease-out;
	margin-top: 2em;
	cursor: pointer;

}
button:active{
	transform: scale(1.2)
}

.svg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: contain;

}
svg{
	width: 100%;
	height: auto;

}
.hide{
	display: none;
}